#pipfile lock
Pipfile.lock

#vscode
.vscode

#api key
config.key.yaml

#resultset files
resultset/*.csv
resultset/timelines/*.csv
resultset/users/*.csv

#tests
test.py

#csv lock
.~lock.user_table.csv#
.~lock.timeline_table.csv#

#pycache
__pycache__/