[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
tweepy = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"

[requires]
python_version = "3.6"

[scripts]
createkey = "python main.py --ckey=True"
